$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$grid-columns: 24;
$grid-gutter-width: 20px;


@import "~bootstrap-4-grid/scss/breakpoints/mixins/breakpoints";
@import "~bootstrap-4-grid/scss/grid/mixins/grid-framework";
@import "~bootstrap-4-grid/scss/grid/mixins/grid";

[class^="container"], .row, [class^="col-"] {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
